.block-list__item-inner{
  background: #60BBC6;
  padding: 0 257px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

 .dogs-horizon-scroll .left-content{
  max-width: calc(55% - 38px);
}
 .dogs-horizon-scroll .right-content{
  max-width: calc(45% - 38px);
}
 .dogs-horizon-scroll .right-content img{
  width: 100%;
  display: block;
}
.dogs-horizon-scroll h2{
  font-family: 'poppins-light';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 54px;
  margin: 0;
  color:#000;
}
.dogs-horizon-scroll h3{
  font-family: 'Gotham';
  font-weight: 350;
  font-size: 60px;
  line-height: 67px;
  letter-spacing: -3px;
  color: #000;
  margin: 0;
}
.dogs-horizon-scroll p{
  font-family: 'poppins-light';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px; 
  color: #000;
  margin: 0;
  margin-top: 32px;
  max-width: 600px;
}
.dogs-horizon-scroll .info_wrap{
  max-width: 360px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}
.dogs-horizon-scroll .prod_info{
  font-family: 'poppins-light';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #000;
  margin: 0;
  margin-top: 40px;
}
.yellow-box{
  font-family: Gotham;
  font-weight: 350;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -2px;
  background: #F4D267;
  max-width: 280px;
  display: inline-flex;
  border-radius: 6px;
  margin: 0 auto;
  padding: 2px 10px;
  color: #000;
}
.block-list-mobile{
  display: none;
}


/*Responsive*/

@media screen and (max-width:1650px){
  .block-list__item-inner{
    padding: 0 200px;
  }
}

@media screen and (max-width:1300px){
  .block-list__item-inner{
    padding: 0 120px;
  }
}

@media screen and (max-width:1024px){
  .block-list__item-inner{
    padding: 0 60px;
  }
  .dogs-horizon-scroll h2{
    font-size: 24px;
    line-height: 42px;
  }
  .dogs-horizon-scroll h3{
    font-size: 42px;
    line-height: 52px;
  }
  .dogs-horizon-scroll p{
    margin-top: 20px;
  }
  .dogs-horizon-scroll .left-content{
    max-width: calc(40% - 15px);
  }
  .dogs-horizon-scroll .right-content{
    max-width: calc(60% - 15px);
  }
  .dogs-horizon-scroll h3{
    font-size: 34px;
    line-height: 42px;
  }
}

@media screen and (max-width:768px){
  .dogs-horizon-scroll .left-content{
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
  }


  .dogs-horizon-scroll .prod_info{
    margin-top: 20px;
  }
  .block-list__item-inner{
    justify-content: center;
    flex-direction: column-reverse;
  }
  .dogs-horizon-scroll .info_wrap{
    margin: 0 auto;
    margin-top: 20px;
  }
  .dogs-horizon-scroll h2, .dogs-horizon-scroll p, .dogs-horizon-scroll h3{
    text-align: center;
  }
}

@media screen and (max-width:767px){
.block-list-mobile{
  display: block;
}
.block-list.desktop{
  display: none;
}
.block-list-mobile .slick-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;
  border: unset;
  font-size: 0;
  width: 16px;
  height: 28px;
  z-index: 99999;
}
.block-list-mobile .slick-prev{
  background-image: url('slide-left1.png');
  left: 10px;
}
.block-list-mobile .slick-next{
  background-image: url('slide-right1.png');
  right: 10px;
}
  .dogs-horizon-scroll .right-content{
    width: 100%;
    max-width: 100%;
  }
  .block-list__item-inner{
    padding: 0 20px;
    flex-wrap: unset;
  }
  .yellow-box{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -2px;
  }
  .dogs-horizon-scroll h3{
    font-size: 30px;
    line-height: 34px;
  }
  .dogs-horizon-scroll .left-content{
     margin-top: 20px;
    margin-bottom: 40px;
  }

  .dogs-horizon-scroll .right-content img{
    height: 30vh;
    object-fit: contain;
  }
  .dogs-horizon-scroll h3 {
    letter-spacing: -2px;
  }

}



.section {
  padding: 0px;
  box-sizing: border-box;
}

.vertical-center {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-center__inner {
  display: table-cell;
  vertical-align: middle;
}

.section--full {
  text-align: center;
}

.section--full,
.section--vertical {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
 
.block-list {
  white-space: nowrap;
}

.block-list__item {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: inline-block;
  white-space: normal;
  /*padding-right: 20px;*/
}

.block-list__item-inner {
  width: 100%;
  height: 100%;
}

.block-list__item:first-child {
  margin-left: 0;
}

#third {
  background: #f5f5f5;
}

.scrollend {
  transform: translateX(-1500px);
}